
@{
    ViewBag.Title = "Eventos";
}
@section Scripts {
    <script src="/Scripts/EventosController.js"></script>
}

<div ng-app="myApp" ng-controller="myCtrl as vm">

    <div class="botones">
        <button class="btn btn-primary" ng-click="vm.Buscar();"><span class="glyphicon glyphicon-search"> </span> Consultar</button>
        <button class="btn btn-primary" ng-click="vm.Configurar_Arduino();"><span class="glyphicon glyphicon-search"> </span> Configurar Arduino</button>
        @*<button class="btn btn-primary" ng-click="vm.Grabar();"><span class="glyphicon glyphicon-search"> </span> Grabar</button>*@
        @*TEST COMMIT FRANCO*@
    </div>
    <div class="alert alert-info">
        <span class="glyphicon glyphicon-exclamation-sign"></span>Registros: {{vm.Lista.length}}
    </div>
    @*GrillaListado*@
    <div ng-show="vm.Lista.length">
        <table id="tbAbm" class="table table-bordered">
            <tr class="styleGrillaTitulo">
                <th class="text-center">Id Evento</th>
                <th class="text-center">Id Arduino</th>
                <th class="text-center">Id Señal</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Fecha Evento</th>
            </tr>
            <tr ng-repeat="dto in vm.Lista">
                <td>{{dto.Id_Evento}}</td>
                <td>{{dto.Id_Arduino}}</td>
                <td>{{dto.Id_Senal}}</td>
                <td>{{dto.Valor}}</td>
                <td>{{dto.Fecha_Evento}}</td>
            </tr>
        </table>
    </div>

</div>

